/* sass-intro
 *
 * /sass/styles.scss - Main stylesheet
 * by leny@flatLand!
 * created at 04/02/2016
 */
/* sass-intro
 *
 * /sass/settings/_colors.scss - Global color variables
 * by leny@flatLand!
 * created at 04/02/2016
 */
/* sass-intro
 *
 * /sass/settings/_fonts.scss - Global fonts variables
 * by leny@flatLand!
 * created at 04/02/2016
 */
/* sass-intro
 *
 * /sass/settings/_size.scss - Global size variables
 * by leny@flatLand!
 * created at 04/02/2016
 */
/* sass-intro
 *
 * /sass/generic/_reset.scss - Reset styles
 * by leny@flatLand!
 * created at 04/02/2016
 */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* sass-intro
 *
 * /sass/base/_elements.scss - Styles base elements
 * by leny@flatLand!
 * created at 04/02/2016
 */
html {
  background: #DDD;
  font: normal 62.5%/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  color: #333;
}

a {
  color: #03C;
  text-decoration: none;
  transition: color .25s ease-in-out;
}

a:hover {
  color: #cc9900;
}

/* sass-intro
 *
 * /sass/objects/_structure.scss - Structure elements
 * by leny@flatLand!
 * created at 04/02/2016
 */
main {
  width: 500px;
  margin: 125px auto 0;
}

header {
  margin: 0 auto 2rem;
  padding: .5rem;
}

section.identity {
  width: 166.66667px;
  float: left;
}

section.stuffs {
  width: 333.33333px;
  float: right;
  padding-left: 4rem;
}

footer:before {
  content: " ";
  display: table;
  clear: both;
}

/* sass-intro
 *
 * /sass/components/_header.scss - Header specific styles
 * by leny@flatLand!
 * created at 04/02/2016
 */
header {
  background: rgba(204, 51, 0, 0.15);
  border-radius: .5rem;
}

header h1 {
  font: bold 2.5rem "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c30;
}

header h1 small {
  display: block;
  color: #333;
}

/* sass-intro
 *
 * /sass/components/_identity.scss - Identity section specific styles
 * by leny@flatLand!
 * created at 04/02/2016
 */
section.identity figure {
  margin: 0 auto 2rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: rotate(-5deg);
}

section.identity img {
  display: block;
  width: 100%;
}

section.identity figcaption {
  font-size: 1.2rem;
}

section.identity p {
  padding: 0 2rem;
  font-size: 1.4rem;
}

/* sass-intro
 *
 * /sass/components/_stuffs.scss - Stuffs section specific styles
 * by leny@flatLand!
 * created at 04/02/2016
 */
section.stuffs h2 {
  margin: 0 auto 2rem;
  font: normal 2rem "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cc0066;
}

section.stuffs ul {
  list-style: none;
}

section.stuffs ul li {
  margin: 0 auto 1.5rem;
  font-size: 1.6rem;
}

section.stuffs ul li:before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  background: #00cc44;
  border-radius: 100%;
}

/* sass-intro
 *
 * /sass/components/_footer.scss - Footer specific styles
 * by leny@flatLand!
 * created at 04/02/2016
 */
footer h2 {
  display: none;
}

footer ul {
  list-style: none;
  padding: 4rem 0;
  font-size: 0;
}

footer ul li {
  display: inline-block;
  width: 25%;
  font-size: 1.4rem;
  text-align: center;
}

footer p {
  font-size: 1.3rem;
  text-align: center;
}
