/* sass-intro
 *
 * /sass/components/_identity.scss - Identity section specific styles
 * by leny@flatLand!
 * created at 04/02/2016
 */

 section.identity {
     figure {
         margin: 0 auto 2rem;
         padding: 1rem;
         background: white;
         box-shadow: 0 0 1rem rgba( black, .5 );
         transform: rotate( -5deg );
     }
     img {
         display: block;
         width: 100%;
     }
     figcaption {
         font-size: 1.2rem;
     }
     p {
         padding: 0 2rem;
         font-size: 1.4rem;
     }
 }
